.contain{
    background-image: url('./media/contain-back.svg');
    background-position: center;
    background-size: cover;
    height: 100vh;

}
.horizontal-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.vertical-align{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.part1-chat {
    margin: 48px;
    height: 50vh;
}
form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width:60%;
}
form > label {
    flex:1 0 100%;
    font-size: var(--font-size2);
    color: #fff;
    word-wrap: break-word;
    word-break: keep-all;
    line-height: 0.9cm;
    
}

textarea {
    flex:0 1 ;
    width: 80%;
    display: block;
    font-size: var(--font-size1);
    color: #fff;
    background-color: var(--color1);
    border-radius: 15px 0 15px 0;
    border: 1px solid transparent;
    opacity: 0.5;
    outline: 0;
    transition-duration: 0.25s;
    word-wrap: break-word;
    word-break: keep-all;
    padding: 8px;

}
textarea:focus {
    opacity: 1;
}
button {
    flex: 0 1 40px;
    width: 140px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: var(--color1);
    font-size: 24px;
    color: #fff;
    align-self: flex-end;
    margin-right: 4em;
}
.part2-chat{
margin: 48px;
display: flex;
align-items: center;
height: 96vh;
}
.event_type-name{
    flex:0 0 50% ;
    font-size: var(--font-size2);
}
.event_type-name span{
    text-decoration: underline;
}
/* event images styling */
.part2-chat .event-images{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 0 0 50%;
    gap:16px;

}
.event-images .img{
    display: block;
    height: 250px;
    width: 500px;
    border-radius: 50% 10% / 40% 30%;

}

.part2-chat .img1{
background-image: url('./media/img1.png');
}
.part2-chat .img2{
    /* align-self: flex-end; */
    background-image: url('./media/img2.png');
}
.part3-chat{
    padding: 48px;
    background-color: #fff;
    color: var(--color4); 
}
.event-description{
    width: 75%;
    
}
.part3-chat h3{
    font-size: var(--font-size2);
}
.event-description p{
    font-size: var(--font-size1);
}
.event-info{
    justify-content: space-evenly;
    gap: 16px;
}
.event-info .card{
    flex:1 0 25%;
    height: 175px;
    border: 2px solid var(--color3);
    border-radius: 19px;
    padding: 8px;
    text-align: center;
    overflow: hidden;
    /* white-space: nowrap; */
    
    word-wrap: break-word;
}
.part3-chat .info{
    font-size:1.2em ;
    font-weight: 800;
    text-transform: capitalize;
}
.part4-chat{
    /* margin: 48px; */
    font-size: var(--font-size2);
    text-transform: capitalize;
    height: auto;
}
.part4-chat p{
    margin:48px 48px 0px;
    width: fit-content;
    padding: 8px 8px 0;
    border: 8px solid #fff;
    border-bottom: 0;
    
}
.part4-chat iframe{
    width: 102%;
    height: 400px;
}
.part2-chat,.part3-chat{
    height: 95vh;
}

@media screen and (max-width: 800px) {
    form {
        padding: 15px;
        width: 100%;
    }
    html,
    body {
        height: 100%;
    }
    label {
        width: 100%;
        font-size: 18px;
        line-height: 0.5cm;
    }
    button {
        font-size: 13px;
        padding: 0;
        width: 70px;
        height: 2.5px;
        margin-right: 0;
    }
    textarea {
        font-size: 13px;
        width: 100%;
    }
    .event_type-name{
        font-size: var(--font-size3);
    }
    .part2-chat{
        flex-direction: column;
    }
    .event-images{
        align-items: flex-start;
        
    }
    .event-images .img{
        width: 150px;
        height: 150px;
        border-radius: 16px;
    }
    .event-description{
        width: 100%;
    }
    .part3-chat,.part2-chat{
        height: auto;
    }
    .part3-chat h3,.event-description p{
        font-size: var(--font-size3);
    }
    .event-info {
        flex-direction: column;
        justify-content: center;
        font-size: smaller;
    }
    .event-info .card{
        flex:1 0 50%;
        width: 75%;
    }
    .part4-chat p{
        font-size: .7em;
    }
}